body{
    /*animation background*/
      background: linear-gradient(-45deg, #9d002f, #f1ff70, #72bdff, #99b700);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;/*time to change the color on the animation background*/
      height: 100vh;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }


header {
    background: #000000;
    color: #edd900ca;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    background: #000000;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffffec;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background: #ff0000b6;
}

section {
    padding: 2em;
}

footer {
    background: #000000;
    color: #edd900d5;
    padding: 1em 0;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 1em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    background: #333;
    color: #fff;
    padding: 1em;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

form button:hover {
    background: #ff0000b6;
}
